{% extends "base.html" %}
{% block title %} -- {{ quote.name }}{% endblock %}
{% block content %}
 <div class="row-fluid">
<div class="span12">
  <h2><a href="/">Home</a>  |  <b>{{ quote.name }}</b></h2>

<div class="well" style="background-color: whiteSmoke; text-shadow: none; webkit-box-shadow: none; moz-box-shadow: none; box-shadow: none; font-family: Menlo, Monaco, monospace; font-size: 12px;">
    {% for i in quote.q %}
    <p style="margin: 0 0 0px">{{ i[1] }}<p>
    {% endfor %}
</div>

{% if n != 0 %}<a href="/quote/{{ n-1 }}"><button class="btn btn-primary"><i class="icon-chevron-left"></i>Last</button>{% endif %}</a>
{% if n != qlen-1 %}<a href="/quote/{{ n+1 }}"><button class="btn btn-primary">Next<i class="icon-chevron-right"></i></button>{% endif %}</a>
</div>
</div>
{% endblock %}